{% extends 'base.html.twig' %}
{% block title 'Locker' %}
{% block body %}
    <h1>{{ locker.number }}</h1>
    <div>
        Status {{ locker.status|replace({"_":" "})|title }}
    </div>
    <h2>Get your package</h2>
    {% if app.session.flashBag.has('error') %}
        <p class="error">
            {{ app.session.flashBag.get('error')|join }}
        </p>
    {% endif %}
    {% if app.session.flashBag.has('success') %}
        <p class="success">
            {{ app.session.flashBag.get('success')|join }}
        </p>
    {% endif %}
    <form action="{{ path('locker_pickup') }}" method="post">
        <div>
            <label for="access_code">Access code:</label>
            <input id="access_code" type="text" name="access_code"/>
            <button type="submit">Send</button>
        </div>
    </form>
{% endblock %}